.breadCrumb {
    background-color: transparent;
    border: none;
    font-size: 1.4em;
}

.position {
    margin-right: 3em !important;
    margin-left: 3em !important;
}

.title {
    font-size: 3em;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
    font-weight: bold;
}
