.Parrallax {
  background-image: url("../Img/icon.jpg");
  background-size: 30% !important;
  background-color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 630px;
}
h1 {
  font-size: 3em;
}
