.link {
  text-decoration: none !important;
}
.otherTitle {
  font-size: 2em;
}

.position,
.title {
  justify-content: center;
}
.title {
  font-size: 3em;
  font-style: italic;
  margin: 1em 0;
  font-weight: bold;
}
.infoCard,
.cardBody,
.position,
.title,
.affichage,
.test {
  display: flex;
}
.infoCard {
  align-items: center;
  flex-direction: column;
  padding-left: 20px;
  width: 100%;
}
.infoPosition {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.1em;
}
.cardBody {
  border: solid 1px #1a1a1a8e;
  border-radius: 5px;
  box-shadow: 10px 10px 10px#1a1a1aa4;
  margin: 1em 1em 4em 1em;
  padding-left: 10px;
  width: 380px;
  height: 150px;
}

.img {
  width: 100px;
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 360px) and (max-width: 420px) {
  .cardBody {
    border: solid 1px #1a1a1a8e;
    border-radius: 5px;
    box-shadow: 10px 10px 10px#1a1a1a73;
    margin: 1em 1em 4em 1em;
    padding-left: 10px;
    width: 330px;
    height: 150px;
  }
}
