.breadCrumb {
  background-color: transparent;
  border: none;
  font-size: 1.4em;
}

.position,
.cardPosition {
  display: flex;
  justify-content: center;
}
.cardPosition {
  margin-bottom: 5em;
}

.title {
  font-size: 3em;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  font-weight: bold;
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
  .breadCrumb {
    background-color: transparent;
    border: none;
    font-size: 1em;
  }
  .position {
    display: flex;
    justify-content: center;
  }
.title {
  font-size: 2em;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  font-weight: bold;
}
 }
