.breadCrumb {
  background-color: transparent;
  border: none;
  font-size: 1.4em;
}

.titlePosition {
  justify-content: center;
  margin-top: 3em;
}
.title {
  font-size: 3em;
}

.link {
  font-size: 1.1em;
  text-decoration: none !important;
  color: white !important;
}
.link:hover {
  text-decoration: none !important;
  color: #d94b37 !important;
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
  .breadCrumb {
    background-color: transparent;
    border: none;
    font-size: 1em;
  }
  .title {
    font-size: 2em;
  }
  .title {
    font-size: 1.5em;
  }
  .titlePosition {
    justify-content: center;
    margin-top: 2em;
  }
}
