.Parrallax {    
    background-image: url("./img/ban.png");  
     
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}


.color {
    color: brown;
    height:1000px;
    background-color:red;
    font-size:36px
}