.coverPicture {
    margin: 0px, 10px, 50px, 10px;
    transform: scale(1) !important;
}

.coverPicture :hover {
    transform: scale(1.3) !important;
}

.logoFooter {
    width: 20%;
}

.footer {
    display: flex;
}
.write {
    font-size: large;
    text-decoration: none;
}

.footerLogo {
    display: flex;
    align-items: center;
    width: 90%;
}
.ban {
    background-color: white;
    background-image: url("./Img/ban.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}

.container-fluid {
    padding: 0;
}

.photoProd {
    width: 20%;
    height: auto;
}
.position {
    justify-content: center;
    border: bold;
}

.overCard {
    transform: scale(1);
}
.overCard :hover {
    transform: scale(1.3);
}

.test {
    width: 8rem;
    height: 2.5rem;
    padding-top: 12px;
    margin: 0 20 0 0px;
    font-size: large;
    text-align: center;
}

.label {
    display: flex;
    flex-wrap: wrap;
    width: 8rem;
    height: 2.5rem;
    font-size: medium;
    align-items: center;
    margin: auto;
}

.footer {
    height: 220px;
}
.end {
    background-color: black;
    color: blanchedalmond;
    font-size: large;
    height: 35px;
}

.breadcrumb {
    background-color: transparent;
    border: none;
    font-size: 1.4em;
}
