

.coverPicture {
    width: 10%;
    margin: 0px, 0px, 50px, 0px;
}

.cOlor {
    background-color: white;
    padding: 0;
}

.container-fluid {
    padding: 0;
}

.cardSize {
    width: 250px;
    height: 500px;
}

.position {
    justify-content: center;
    border: bold;
}

.overCard {
    transform: scale(1);
}
.overCard :hover {
    transform: scale(1.3);
}

.test {
    width: 6rem;
    height: 1.5rem;
    font-size: large;
    text-align: center;
}

.footer {
    height: 200px;
    width: 500;    
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }